/* line 1, ../../../src/scss/opener_html.scss */
.opener-html-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

/* line 22, ../../../src/scss/opener_html.scss */
#opener-html-main {
  display: block;
  width: 100%;
  min-height: 100%;
}
