/**
 * This module contains base variables that are used to re-skin (customize) the 
 * Librarian UI toolkit.
 *
 * Recommended way to customize the variables is to load a separate module 
 * containing customized values _before_ this module.
 */
/* line 3, ../../../src/scss/opener_html.scss */
.opener-html-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

/* line 24, ../../../src/scss/opener_html.scss */
#opener-html-main {
  display: block;
  width: 100%;
  min-height: 100%;
}
