@import "compass/reset";
@import "base/params";
@import "base/browser_fixes";
@import "base/media_query";

html {
  // Styling
  background: $o-foreground-material;
  color: $o-base-text-color;

  // X-browser
  @include ios-font-size-fix;
}

body {
  // Typography
  font-family: 'Bookman Old Style', Georgia, serif;
  font-size: $o-base-text-size * 1.2;
  line-height: $o-base-line-height;

  // Basic geometry
  padding: 0 2rem 2rem;
  max-width: 50em;
  margin: 0 auto;

  @include narrower-than(520px) {
    padding: 0 1rem 2rem;
  }
}

img {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  font-style: italic;
  margin: 1rem 0;
  border-left: 4px solid lighten($o-base-text-color, 50);
  padding-left: 2rem;
}

h1 {
  font-size: 200%;
  margin: 2rem 0;
  line-height: 100%;
}

h2 {
  font-size: 160%;
  margin: 1rem 0 1rem;
  line-height: 100%;
}

h3 {
  font-size: 120%;
  margin: 1rem 0 0.5rem;
}
