@import "compass/reset";
@import "base/params";
@import "base/browser_fixes";

html {
  // Basic geometry
  padding: 2rem;

  // Styling
  background: $o-material;
  color: $o-base-text-color;

  // X-browser
  @include ios-font-size-fix;
}

body {
  // Typography
  font-family: $o-base-font;
  font-size: $o-base-text-size;
  line-height: $o-base-line-height;

  // Basic geometry
  padding: 2em;
  max-width: 50em;
  margin: 0 auto;
  
  // Styling
  background: white;
  border: $o-separator-border;
}

img {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}
